<div class="d-flex justify-content-between mb-3">
    <h5 class="card-title fw-semibold mb-4">MEDICOS</h5>
    <div>
        <button type="button" (click)="addMedicos()" class="btn btn-primary">Nuevo</button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>NOMBRE</th>
            <th>APELLIDOS</th>
            <th>DNI</th>
            <th>CORREO</th>
            <th class="text-center">ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        @for(item of medicos;track item){
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.usuario.nombre}}</td>
            <td>{{item.usuario.apellidos}}</td>
            <td>{{item.usuario.dni}}</td>
            <td>{{item.usuario.correo}}</td>
            <td class="text-center">
                <button (click)="updateMedicos(item)" type="button" class="btn btn-primary btn-sm">Editar</button>
                <button (click)="deleteMedicos(item)" type="button" class="btn btn-danger btn-sm mx-2">Eliminar</button>
            </td>
        </tr>
        }

    </tbody>
</table>