<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<div
  class="position-relative overflow-hidden text-bg-light min-vh-100 d-flex align-items-center justify-content-center">
  <div class="d-flex align-items-center justify-content-center w-100">
    <div class="row justify-content-center w-100">
      <div class="col-md-8 col-lg-6 col-xxl-3">
        <div class="card mb-0">
          <div class="card-body">
            <h3 class="text-nowrap text-center d-block py-3 w-100">
                Clinica Medijoven
            </h3>
      
           
            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Usuario</label>
                <input type="text" class="form-control" name="login" id="login" [(ngModel)]="loginUsuario.login" required>
              </div>
              <div class="mb-4">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" name="password" id="password" [(ngModel)]="loginUsuario.password" required>
              </div>
              <div class="d-flex align-items-center justify-content-between mb-4">
                <div class="form-check">
                  <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked>
                  <label class="form-check-label text-dark" for="flexCheckChecked">
                    Recuerda este dispositivo
                  </label>
                </div>
              </div>
              <div class="mb-4">
                <button class="btn btn-success rounded-2 btn-block"[disabled]="!f.valid">
                  Iniciar Sesion
                </button>
              </div>
              <div class="d-flex align-items-center justify-content-center">
                <p class="fs-4 mb-0 fw-bold">No Tienes Cuenta?</p> 
                <a class="text-primary fw-bold ms-2 sidebar-link" href="/create-account" routerLinkActive="router-link-active" >Crear Cuenta</a> 
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>