<div class="d-flex justify-content-between mb-3">
    <h5 class="card-title fw-semibold mb-4">USUARIOS</h5>
    <div>
        <button type="button" (click)="addUsuarios()" class="btn btn-primary">Nuevo</button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>NOMBRE</th>
            <th>APELLIDOS</th>
            <th>DNI</th>
            <th>ROL</th>
            <th class="text-center">ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        @for(item of usuarios;track item){
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.apellidos}}</td>
            <td>{{item.dni}}</td>
            <td>
                <span *ngFor="let rol of item.roles; let isLast = last">
                    {{rol.rol}}<span *ngIf="!isLast">, </span>
                </span>
            </td>
            <td class="text-center">
                <button (click)="updateUsuarios(item)" type="button" class="btn btn-primary btn-sm">Editar</button>
                <button (click)="deleteUsuarios(item)" type="button" class="btn btn-danger btn-sm mx-2">Eliminar</button>
            </td>
        </tr>
        }

    </tbody>
</table>