<div class="card">
    <div class="card-body">

        <div class="d-flex justify-content-between">
            <h5 class="card-title fw-semibold mb-4">Citas</h5>
            <div>
                <button type="button" (click)="newCita()" class="btn btn-primary">Nuevo</button>
            </div>
        </div>



        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Paciente</th>
                    <th>Medico</th>
                </tr>
            </thead>
            <tbody>
                @for(item of data;track item){
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{shortDate(item.fechaCita)}}</td>
                    <td>{{item.hora}}</td>
                    <td>{{getPaciente(item.idPaciente)?.usuario.nombre}}</td>
                    <td>{{getMedico(item.idMedico)?.usuario.nombre}}</td>
                    <td>

                       <button  (click)="editCita(item)" type="button" class="btn btn-primary btn-sm">Editar</button>
                        <button (click)="deleteCita(item)" type="button" class="btn btn-danger btn-sm mx-2">Eliminar</button> 

                    </td>
                </tr>
                }

            </tbody>
        </table>

    </div>
</div>