<form>

    <div mat-dialog-content>
        <div class="row">
            
            <div class="col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>NOMBRES</mat-label>
                    <input [(ngModel)]="objPaciente.usuario.nombre" name="nombre" type="text" matInput>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>APELLIDOS</mat-label>
                    <input [(ngModel)]="objPaciente.usuario.apellidos" name="apellidos" type="text" matInput>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>DNI</mat-label>
                    <input [(ngModel)]="objPaciente.usuario.dni" name="dni" type="text" matInput>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>CORREO</mat-label>
                    <input [(ngModel)]="objPaciente.usuario.correo" name="correo" type="text" matInput>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>NUMERO DE TELEFONO</mat-label>
                    <input [(ngModel)]="objPaciente.usuario.telefono" name="telefono" type="text" matInput>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>USERNAME</mat-label>
                    <input [(ngModel)]="objPaciente.usuario.login" name="login" type="text" matInput>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>PASSWORD</mat-label>
                    <input [(ngModel)]="objPaciente.usuario.password" name="password" type="text" matInput>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>SEXO</mat-label>
                    <input [(ngModel)]="objPaciente.usuario.sexo" name="sexo" type="text" matInput>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>TIPO SANGRE</mat-label>
                    <input [(ngModel)]="objPaciente.tipoSangre" name="tipoSangre" type="text" matInput>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div mat-dialog-actions>
        <button type="button" color="warn" [mat-dialog-close]="false" mat-button>Cancelar</button>
        <button type="submit" color="primary" mat-button (click)="actualizar()">Guardar</button>
    </div>
</form>